.reveal {
  color: #002b36; 
  font-size: 32px;
 }
   /*
.reveal section img {
	border:none ;
}

  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
 */
.reveal ui.nodecor {
  text-align: center;
  list-style-type: none;
}

.reveal h1 {
  color: #002b36;
  font-weight: normal;
  font-size: 38px;
 }

.reveal h1.small {
  font-size: 32px;
 }

.reveal h2.title {
  color:#4d0f32;
 }
.reveal h1.subtitle {
  color:#02401c;
 }

.reveal p.question{
  color:#dd8d29;
 }
.reveal p.statement{
  color:#4d0f32;
 }
.reveal li.greenish,
.reveal p.greenish{
  color:#458464;
 }
.reveal p.small,
.reveal td.small {
  font-size: 28px;
 }

.reveal p.small2,
.reveal td.small2 {
  font-size: 24px;
 }

.reveal p.left {
  text-align: left;
 }

.reveal p.no-margin {
  margin: 0px 0px;
 }

.reveal p.right,
.reveal td.right {
  text-align: right;
 }

.reveal p.big {
  font-size: 40px;
 }

.reveal section table.metod img {
	border: none; 
	box-shadow: none;
	margin: 0px 0px;
	height: 140px;
}

.reveal table.metod tr, .reveal table.metod td{
	padding: 0px 0px;
	border-bottom: none;
	text-align: center;
}

.reveal small.cita {
  color: #797d7f ; 
 }

.reveal footer img {
    box-shadow: none;
 }


